@import "@arcgis/core/assets/esri/themes/light/main.css";

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#viewDiv {
  flex-grow: 1;
}

calcite-navigation-logo {
  cursor: pointer;
}

.hide {
  display: none;
}

.player-loader {
  padding-top: 0px;
  padding-bottom: 20px;
}

#user-menu {
  position: absolute;
  top: 65px;
  right: 0px;
  z-index: 1;
}

.shadowPanel {
  width: 400px;
}

.shadowPanelElement {
  padding: 10px;
  padding-top: 30px;
  display: block;
  width: inherit;
}

.shadowPanelElementLabel {
  font-weight: bolder;
  padding-bottom: 10px;
}